<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActivityMapAPIBaseURL</key>
	<string>$(ACTIVITYMAP_API_BASE_URL)</string>
	<key>ActivityMapAuthCallbackScheme</key>
	<string>$(ACTIVITYMAP_AUTH_CALLBACK_SCHEME)</string>
	<key>ActivityMapAuthRedirectURI</key>
	<string>$(ACTIVITYMAP_AUTH_REDIRECT_URI)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(ACTIVITYMAP_AUTH_CALLBACK_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>MBXAccessToken</key>
	<string>$(MAPBOX_ACCESS_TOKEN)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
