@charset "UTF-8";
@import "node_modules/nouislider/dist/nouislider.min.css";
@import 'mapbox-gl/dist/mapbox-gl.css';


html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.mapboxgl-ctrl {
  transform: none !important;
}
.mapboxgl-ctrl button {
    font-size: large;
}
.mapboxgl-ctrl-layer {
    width: 140px !important;
    font-size: small !important;
}
.mapboxgl-ctrl-layer-active {
    color: var(--highlight-color) !important;
}
.mapboxgl-ctrl-top-left {
  z-index: 3;
}
#layer-switcher-content {
    visibility:hidden;
    opacity:0;
    transition: visibility 0s linear 0.5s,opacity 0.5s linear;
  }
    /*opacity: .0;
    /*-webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;*/
  #layer-switcher-button:hover + #layer-switcher-content, #layer-switcher-content:hover {
    visibility:visible;
    opacity:1;
    transition-delay:0s;
  }

.layer-switcher-3d-active {
    color: var(--highlight-color) !important;
}
  #layer-switcher-content {
    position: absolute;
    left: 3em;
    top: 0em;
    z-index: 99999;
  }

  .mapboxgl-ctrl-group button {
    color: black;
  }

  #feature-table-container {
    max-height: 330px;
    max-width: calc(100vw - 7.5em);
    overflow-y: scroll;
    pointer-events: all;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgba(0,0,0,.1);
    transform: translate(3em,0);
  }
#feature-table-container:empty { 
    box-shadow: none;
 }
  .sr-only {
    position: absolute;
    top: -30em;
  }
  .sortable {
    border-collapse: collapse;
    margin: 0;
    font-size: 9;
    font-family: sans-serif;
    max-width: 100%;
  }
  .sortable thead tr {
    background-color:var(--highlight-color);
    color: #ffffff;
    text-align: center;
    position: sticky; 
    top: 0px; 
  }
  .sortable th,
  .sortable td {
      padding: 4px 4px;
  }
  .sortable tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .sortable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  .sortable tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
  }
  .sortable td:nth-child(2),td:nth-child(3) { text-align: end; }
  
  .sortable tbody tr:last-of-type {
    border-bottom: 2px solid var(--highlight-color);
  }
  .sortable tbody tr:hover {
    color: var(--highlight-color);
  }
  .sortable th {
    cursor: pointer;
  }
  .sortable th.no-sort {
    pointer-events: none;
  }
  .sortable th::after, .sortable th::before {
    transition: color 0.1s ease-in-out;
    font-size: 1.2em;
    color: transparent;
  }
  .sortable th::after {
    margin-left: 3px;
    content: "\f0dc";
    font-family: "Font Awesome 6 Free";
    font-size: small;
  }
  .sortable th:hover::after {
    color: inherit;
  }
  .sortable th.dir-d::after {
    color: inherit;
    content: "\f0dd";
    font-family: "Font Awesome 6 Free";
    font-size: small;
  }
  .sortable th.dir-u::after {
    color: inherit;
    content: "\f0de";
    font-family: "Font Awesome 6 Free";
    font-size: small;
  }
  .sortable th.indicator-left::after {
    content: "";
  }
  .sortable th.indicator-left::before {
    margin-right: 3px;
    content: "\f0dc";
    font-family: "Font Awesome 6 Free";
    font-size: small;
  }
  .sortable th.indicator-left:hover::before {
    color: inherit;
  }
  .sortable th.indicator-left.dir-d::before {
    color: inherit;
    content: "\f0dd";
    font-family: "Font Awesome 6 Free";
    font-size: small;
  }
  .sortable th.indicator-left.dir-u::before {
    color: inherit;
    content: "\f0de";
    font-family: "Font Awesome 6 Free";
    font-size: small;
  }

  .category-not-active {
    color: #999999 !important;
  }

  .boxdraw {
    background: rgba(56, 135, 190, 0.1);
    border: 2px solid #3887be;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    }

    .noUiSlider {
      width: 100%;
      height: 15px;
    }
    .noUi-connect {
      background: var(--highlight-color);
    }
    .noUi-handle-lower .noUi-tooltip {
      -webkit-transform: translate(-10%,185%);
      transform: translate(-10%,185%);
      left: 50%;
      bottom: 120%;
      box-shadow: 0 0 0 2px rgba(0,0,0,.1);
    }
    .noUi-handle-upper .noUi-tooltip {
      transform: translate(-90%,0);
      left: 50%;
      bottom: 120%;
      box-shadow: 0 0 0 2px rgba(0,0,0,.1);
    }
    .noUiSlider .noUi-handle {
      height: 18px;
      width: 18px;
      top: -5px;
      right: -9px; /* half the width */
      border-radius: 9px;
    }
    .noUi-tooltip {
      font-size: 0.9em;
      font-family: sans-serif;
    }
    .noUi-handle:after, .noUi-handle:before {
      display: none;
    }
    .slider-box {
      width: 240px;
      transform: translate(50px,-20px);
      border-radius: 2px;
      background-color: #ffffff;
      opacity: 0.0;
      visibility:hidden;
      position: fixed;
      right: 100px;
      transition: visibility 0s linear 0.5s,opacity 0.5s linear;
    }
    .filter-label:hover + .slider-box, .slider-box:hover {
      visibility:visible;
      opacity:1;
      transition-delay:0s;
    }
    #login-button > embed {
      pointer-events: none;
    }