@charset "UTF-8";
@import "node_modules/nouislider/dist/nouislider.min.css";
@import 'mapbox-gl/dist/mapbox-gl.css';


html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.mapboxgl-ctrl {
  transform: none !important;
}
.mapboxgl-ctrl button {
  font-size: large;
}
.mapboxgl-ctrl-layer {
  width: 140px !important;
  font-size: small !important;
}
.mapboxgl-ctrl-layer-active {
  color: var(--highlight-color) !important;
}
.mapboxgl-ctrl-top-left {
  z-index: 3;
}
.mapboxgl-ctrl-group button {
  color: black;
}
